.sidenav {
    background-color: #3F51B5;
    width: 200px;
}

.sidenav a {
    color: #FFF;
    display: flex;
    align-items: center;
}

.sidenav i {
    padding-right: 10px;
}

.content {
    padding: 16px;
    background-color: #FFF;
}

